# SPDX-FileCopyrightText: 2021 Robin Schneider <ypid@riseup.net>
#
# SPDX-License-Identifier: CC0-1.0

Robin Schneider <ypid@riseup.net> <ypid23@aol.de>
Michael Knight <dex2000@users.noreply.github.com>
Charly Koza <cactusbone@free.fr> <charly.koza@gmail.com>
Joan Montané <joan@montane.cat> <jmontane@ID43150.da.ub.edu>
Kristjan SCHMIDT <35647502+KristjanESPERANTO@users.noreply.github.com>
Alexander Menk <alex.menk@gmail.com> <a.menk@imi.de>
